body {
    background-color: #EBEBEB;
}
html, body {
    max-width: 100%;
    /* overflow-x: hidden; */
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Fredoka medium";
}
p{
    font-family: "Fredoka light";
}
#reservationCard{
    font-family: "Fredoka light";
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#nextReservationCard{
    font-family: "Fredoka light";
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#nextMenuCard {
    font-family: "Fredoka light";
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#MenusCard{
    font-family: "Fredoka light";
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#menuCard {
    margin: auto;
}

#expandNextMenu {
    position: relative;
}

#expandNextMenu img {
    position:absolute;
    
    bottom: 0px;
    right: 0px;
}

#expandNextMenuImg:hover {
    width: 50px;
    height: 50px;

}

#homeMenu {
    font-family: "Fredoka medium";
    margin-bottom: 3%;

}

#expandNextReservation {
    position: relative;
}

#expandNextReservation img {
    position: absolute;
    bottom: 8px;
    right: 0px;
}

#expandNextReservationImg:hover {
    width: 50px;
    height: 50px;
}

#expandNextReservation2 {
    position: relative;
}

#expandNextReservation2 img {
    position: absolute;
    bottom: -20px;
    right: 0px;
}

#expandNextReservationImg2:hover {
    width: 45px;
    height: 45px;
}

/*
input[type="radio"]:checked+label:after{
  
    background-color:#fca311;
    border:none;
    border-radius:45%;
   
  }*/
 #seeAllReservations{
    color:#fca311;
    cursor: pointer;
    text-shadow: 2px 2px 8px #fca311;

    
 }
 #seeAllReservations:hover{
    color:#fca311;
    font-size:110%;
    font-family: "Fredoka regular"
    
 }

 #seeAllMenus{
    color:#fca311;
    cursor: pointer;
    text-shadow: 2px 2px 8px #fca311;

    
 }
 #seeAllMenus:hover{
    color:#fca311;
    font-size:110%;
    font-family: "Fredoka regular"
    
 }
 #reservationModal___BV_modal_header_{
    text-align: center !important;
    margin:auto !important;
 }
 #reservationModal___BV_modal_header_ button{
     position: absolute !important;
     right:2% !important;
     width:55px !important;
     height:61px !important;
     color:red

 }
 #reservationModal___BV_modal_title_{
     
     text-align: center !important;
    
    
 }
 /*
 .nav-tabs li a  {
    color: #fca311 !important;
}*/
.card-group{
    width: 100% !important;
}


@media screen and (min-width:250px) and (max-width:300px){

    #reservationTitle{
        font-family: "Fredoka regular" !important;
        font-size:30px
    }
   
    #menuTitle{
        font-family: "Fredoka regular" !important;
        font-size:30px
    }

    #reservationCard{
        width: 90% !important;
       margin-right: 2%  !important;
       margin-bottom: 4%  !important;
    }
    

    

    #homeMenu {
        font-family: "Fredoka medium";
        font-size: 20px;
    }

    #menuDate {
        font-size: 75%;
    }

    #menuTime {
        font-size: 75%;
    }

    #menuPrice {
        font-size: 70%;
    }

    #menuDateImg {
        width: 22px !important;
        height: 22px !important;
    }

    #menuTimeImg {
        width: 22px;
        height: 22px;
    }

    #menuPriceImg {
        width: 22px;
        height: 22px;
    }

    #menuImg {
        width: 80px;
    }

    #expandNextMenuImg {
        width: 30px ;
        height: 30px;

    }

    #expandNextMenuImg:hover {
        width: 35px;
        height: 35px;

    }

    #carousel {
        margin: 0 !important;
        width: 100% !important;
        margin-bottom:2% !important 
    }
    
    #nextReservationCard {
        width: 90% !important;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom:8% !important;

    }
    
    #nextMenuCard{
        width:90% !important;
      
    }
    #reservationBtn{
        margin-left:2% !important;
        
    }
    #reservationBtn img{
       
        width: 40px !important;
        height: 40px !important;
    }
    #nextMenuContainer{
        width:90% !important;
        margin-top:5% !important;
        margin-left:5% !important;
        margin-right:5 !important;
        
    }
    #nextReservationContainer{
        width:90% !important;
        margin-left:5% !important;
        margin-right:5 !important;
    }
    #nextMenuContainer{
        width:90% !important;
        
    }
    #expandNextReservationImg {
        width: 30px;
        height: 30px;
       

    }

    #expandNextReservationImg:hover {
        width: 35px;
        height: 35px;

    }
    #seeAllReservations{
        margin-top:2% !important;
    }
    #menuDateText{
        font-size:80% !important
    }
    #participants{
        margin-top:15%
    }
    #menuMainName{
        font-size:85% !important
    }
    #MenusCard{
        width:100% !important;
        
      
    }
    #menuCardRow{
        margin-left:0% !important;
        margin-right:0% !important;
    }
    #divMenusCard{
        margin-right: 0% !important;
    }
    
    
}

@media screen and (min-width:300px) and (max-width:350px){

    #reservationTitle{
        font-family: "Fredoka regular" !important;
        font-size:30px
    }
   
    #menuTitle{
        font-family: "Fredoka regular" !important;
        font-size:30px
    }

    #reservationCard{
        width: 90% !important;
       margin-right: 2%  !important;
       margin-bottom: 4%  !important;
    }
    

    

    #homeMenu {
        font-family: "Fredoka medium";
        font-size: 20px;
    }

    #menuDate {
        font-size: 75%;
    }

    #menuTime {
        font-size: 75%;
    }

    #menuPrice {
        font-size: 70%;
    }

    #menuDateImg {
        width: 22px !important;
        height: 22px !important;
    }

    #menuTimeImg {
        width: 22px;
        height: 22px;
    }

    #menuPriceImg {
        width: 22px;
        height: 22px;
    }

    #menuImg {
        width: 80px;
    }

    #expandNextMenuImg {
        width: 30px ;
        height: 30px;

    }

    #expandNextMenuImg:hover {
        width: 35px;
        height: 35px;

    }

    #carousel {
        margin: 0 !important;
        width: 100% !important;
        margin-bottom:2% !important 
    }
    
    #nextReservationCard {
        width: 90% !important;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom:8% !important;

    }
    
    #nextMenuCard{
        width:90% !important;
      
    }
    #reservationBtn{
        margin-left:2% !important;
        
    }
    #reservationBtn img{
       
        width: 40px !important;
        height: 40px !important;
    }
    #nextMenuContainer{
        width:90% !important;
        margin-top:5% !important;
        margin-left:5% !important;
        margin-right:5 !important;
        
    }
    #nextReservationContainer{
        width:90% !important;
        margin-left:5% !important;
        margin-right:5 !important;
    }
    #nextMenuContainer{
        width:90% !important;
        
    }
    #expandNextReservationImg {
        width: 30px;
        height: 30px;
       

    }

    #expandNextReservationImg:hover {
        width: 35px;
        height: 35px;

    }
    #seeAllReservations{
        margin-top:2% !important;
    }
    #menuDateText{
        font-size:80% !important
    }
    #participants{
        margin-top:15%
    }
    #menuMainName{
        font-size:85% !important
    }
    #MenusCard{
        width:100% !important;
        
      
    }
    #menuCardRow{
        margin-left:0% !important;
        margin-right:0% !important;
       
    }
    #divMenusCard{
        margin-right: 0% !important;
        margin-bottom:10% !important;
    }
    
    
}
@media screen and (min-width:350px) and (max-width:412px){

    #reservationTitle{
        font-family: "Fredoka regular" !important;
        font-size:35px
    }
   
    #menuTitle{
        font-family: "Fredoka regular" !important;
        font-size:35px
    }

    #reservationCard{
        width: 90% !important;
       margin-right: 2%  !important;
       margin-bottom: 4%  !important;
    }
    

    

    #homeMenu {
        font-family: "Fredoka medium";
        font-size: 20px;
    }

    #menuDate {
        font-size: 80%;
    }

    #menuTime {
        font-size: 80%;
    }

    #menuPrice {
        font-size: 80%;
    }

    #menuDateImg {
        width: 22px;
        height: 22px;
    }

    #menuTimeImg {
        width: 22px;
        height: 22px;
    }

    #menuPriceImg {
        width: 22px;
        height: 22px;
    }

    #menuImg {
        width: 80px;
    }

    #expandNextMenuImg {
        width: 30px;
        height: 30px;

    }

    #expandNextMenuImg:hover {
        width: 35px;
        height: 35px;

    }

    #carousel {
        margin: 0 !important;
        width: 100% !important;
        margin-bottom:2% !important 
    }
    
    #nextReservationCard {
        width: 90% !important;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom:8% !important;

    }
    
    #nextMenuCard{
        width:90% !important;
      
    }
    #reservationBtn{
        margin-left:2% !important;
    }
    #nextMenuContainer{
        width:90% !important;
        margin-top:5% !important;
        margin-left:5% !important;
        margin-right:5 !important;
        
    }
    #nextReservationContainer{
        width:90% !important;
        margin-left:5% !important;
        margin-right:5 !important;
    }
    #nextMenuContainer{
        width:90% !important;
        
    }
    #expandNextReservationImg {
        width: 34px;
        height: 34px;

    }

    #expandNextReservationImg:hover {
        width: 40px;
        height: 40px;

    }
    #seeAllReservations{
        margin-top:2% !important;
    }
    #menuMainName{
        font-size:90% !important
    }
    #MenusCard{
        width:100% !important;
        
      
    }
    #menuCardRow{
        margin-left:0% !important;
        margin-right:0% !important;
    }
    #divMenusCard{
        margin-right: 0% !important;
        margin-bottom:10% !important;
    }
    
    
}

@media screen and (min-width:412px) and (max-width:500px) {

    #reservationTitle{
        font-family: "Fredoka regular" !important;
    }
    #menuTitle{
        font-family: "Fredoka regular" !important;
    }

    #reservationCard{
        width: 90% !important;
       margin-right: 2%  !important;
       margin-bottom: 4%  !important;
    }
    

    

    #homeMenu {
        font-family: "Fredoka medium";
        font-size: 25px;
    }

    #menuDate {
        font-size: 90%;
    }

    #menuTime {
        font-size: 90%;
    }

    #menuPrice {
        font-size: 90%;
    }

    #menuDateImg {
        width: 22px;
        height: 22px;
    }

    #menuTimeImg {
        width: 22px;
        height: 22px;
    }

    #menuPriceImg {
        width: 22px;
        height: 22px;
    }

    #menuImg {
        width: 100px;
    }

    #expandNextMenuImg {
        width: 34px;
        height: 34px;

    }

    #expandNextMenuImg:hover {
        width: 40px;
        height: 40px;

    }

    #carousel {
        margin: 0 !important;
        width: 100% !important;
        margin-bottom:2% !important 
    }
    
    #nextReservationCard {
        width: 90% !important;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom:8% !important;

    }
    
    #nextMenuCard{
        width:90% !important;
      
    }
    #reservationBtn{
        margin-left:2% !important;
    }
    #nextMenuContainer{
        width:90% !important;
        margin-top:5% !important;
        margin-left:5% !important;
        margin-right:5 !important;
        
    }
    #nextReservationContainer{
        width:90% !important;
        margin-left:5% !important;
        margin-right:5 !important;
    }
    #nextMenuContainer{
        width:90% !important;
        
    }
    #expandNextReservationImg {
        width: 34px;
        height: 34px;

    }

    #expandNextReservationImg:hover {
        width: 40px;
        height: 40px;

    }
    #seeAllReservations{
        margin-top:2% !important;
    }
    #MenusCard{
        width:100% !important;
        
      
    }
    #menuCardRow{
        margin-left:0% !important;
        margin-right:0% !important;
    }
    #divMenusCard{
        margin-right: 0% !important;
        margin-bottom:10% !important;
    }
    
}


@media screen and (min-width:500px) and (max-width:550px){

   
    

    

    #homeMenu {
        font-family: "Fredoka medium";
        font-size: 25px;
    }

    #menuDate {
        font-size: 90%;
    }

    #menuTime {
        font-size: 90%;
    }

    #menuPrice {
        font-size: 90%;
    }

    #menuDateImg {
        width: 22px;
        height: 22px;
    }

    #menuTimeImg {
        width: 22px;
        height: 22px;
    }

    #menuPriceImg {
        width: 22px;
        height: 22px;
    }

    #menuImg {
        width: 100px;
    }

    #expandNextMenuImg {
        width: 34px;
        height: 34px;

    }

    #expandNextMenuImg:hover {
        width: 40px;
        height: 40px;

    }

    #carousel {
        margin: 0 !important;
        width: 100% !important;
    }
    #nextReservationCard {
        width: 90% !important;
        margin-left: 5%;
        margin-right: 5%;

    }
    
    #nextMenuCard{
        width:90% !important;
      
    }
    #reservationBtn{
        margin-left:2% !important;
    }
    #nextMenuContainer{
        width:90% !important;
        margin-top:5% !important;
        margin-left:5% !important;
        margin-right:5 !important;
        
    }
    #nextReservationContainer{
        width:90% !important;
        margin-left:5% !important;
        margin-right:5 !important;
    }
    #nextMenuContainer{
        width:90% !important;
        
    }
    #expandNextReservationImg {
        width: 34px;
        height: 34px;

    }

    #expandNextReservationImg:hover {
        width: 40px;
        height: 40px;

    }
    #MenusCard{
        width:100% !important;
        
      
    }
    #menuCardRow{
        margin-left:0% !important;
        margin-right:0% !important;
    }
    #divMenusCard{
        margin-right: 0% !important;
        margin-bottom:10% !important;
    }
 
    
    
}
@media screen and (min-width:550px) and (max-width:750px){

    
    #MenusCard{
        width:100% !important;
        
      
    }
    #menuCardRow{
        margin-left:0% !important;
        margin-right:0% !important;
    }
    #divMenusCard{
        margin:auto !important;
        margin-bottom:8% !important;
    }
    #nextMenuContainer{
        margin-top:5% !important;
        margin-left:11% !important;
    }
    #nextReservationContainer{
        margin-left:11% !important;
    }
    
}
@media screen and (min-width:750px) and (max-width:1100px){

    
   
    #menuCardRow{
       
        margin-left:2%!important;
        margin-right:2% !important;
    }
    #divMenusCard{
      margin:auto !important;
      margin-bottom:5% !important;
    }
    #nextMenuContainer{
        margin-top:5% !important;
        margin-left:25% !important;
    }
    #nextReservationContainer{
       
        margin-left:25% !important;
    }
    
}
@media screen and (min-width:1100px) and (max-width:1200px){

    
   
    #menuCardRow{
       
        margin-left:2%!important;
        margin-right:0% !important;
    }
    #divMenusCard{
        margin-right: 2% !important;
        margin-bottom:5% !important;
    }
    #nextMenuContainer{
        margin-left:30% !important;
        margin-top:5% !important;

    }
    #nextReservationContainer{
        margin-left:30% !important;
    }
    
}


@media screen and (min-width:1200px) and (max-width:1300px){

    #carousel {
        margin: 0 !important;
        width: 100% !important;
    }
  
    #nextMenuContainer{
        margin-left:7% !important;
        margin-right:0% !important;
        
    }
    #nextReservationContainer{
       
        margin-left:5% !important;
        margin-right:0% !important;
    }
    #menuCardRow{
        margin-left:3%!important;
        margin-right:0% !important;
    }
    #divMenusCard{
        margin-right: 5% !important;
        margin-bottom:5% !important;
    }
    
    

    
    
}

@media screen and (min-width:1300px) and (max-width:1400px){

    #carousel {
        margin: 0 !important;
        width: 100% !important;
    }
  
    #nextMenuContainer{
        margin-left:10% !important;
        margin-right:0% !important;
        
    }
    #nextReservationContainer{
       
        margin-left:10% !important;
        margin-right:0% !important;
    }
    #menuCardRow{
        margin-left:6%!important;
        margin-right:0% !important;
    }
    #divMenusCard{
        margin-right: 8% !important;
        margin-bottom:5% !important;
    }
    

    
    
}

@media screen and (min-width:1400px) and (max-width:1500px){

    #carousel {
        margin: 0 !important;
        width: 100% !important;
    }
  
    #nextMenuContainer{
        margin-left:10% !important;
        margin-right:0% !important;
        
    }
    #nextReservationContainer{
       
        margin-left:10% !important;
        margin-right:0% !important;
    }
    #menuCardRow{
        margin-left:8%!important;
        margin-right:0% !important;
    }
    #divMenusCard{
        margin-right: 10% !important;
        margin-bottom:5% !important;
    }
    
    

    
    
}





